span.required {
    color: #cc0000;
}
span.bold {
    font-weight:bold;
}
div.fineprint {
    font-style:italic;
    font-size: 70%;
}
.formrow em  {
    font-style:normal;
    text-decoration:underline;
}
div.formrow {
    clear:left;
    display:block;
    float:none;
    padding:2px;
}

select, input, textarea{
    clear:left;
    display: block;
    margin:2px 5px 5px 0pt;
}
input[type="text"]{
    width:185px;
    border:1px solid #666666;
}
textarea {
    border:1px solid #666666;
}
input[type="checkbox"]{
    display: inline;
}
.sameline {
    display: inline;
}